<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Area:</strong>
  <%= @event.area %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @event.meeting_time %>
</p>

<p>
  <strong>Meeting place:</strong>
  <%= @event.meeting_place %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
