<p id="notice"><%= notice %></p>

<h1>タグ一覧</h1>

<table>
  <thead>
    <tr>
      <th>タグ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to '編集', edit_tag_path(tag) %></td>
        <td><%= link_to '削除', tag, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <td>
          <% if !UserTag.already_registered(@uid, tag.id) %>
              <%= form_tag(:controller => "user_tags", :action => "create") do %>
                  <%= hidden_field :user_tag, :user_id, :value => @uid %>
                  <%= hidden_field :user_tag, :tag_id, :value => tag.id %>
                  <%= submit_tag('参加') %>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= render 'footer' %>